<!-- <h1>Articles#edit</h1>
<p>Find me in app/views/articles/edit.html.erb</p> -->
<div class="navbar">
  <h2><%= link_to "Wikinimous", articles_path %></h2>
  <h3><%= link_to "New article", new_article_path %></h2>
</div>
<div>
  <h1>Editing article</h1>
  <%= render 'form', article: @article %>
</div>
<%= link_to "Show", article_path(@article) %>
<%= link_to "Home", articles_path %>
